@font-face {
    font-family: 'FreeSansBold';
    src: url('src/assets/fonts/Free Sans Bold/FreeSansBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.hero-title {
  font-family: 'FreeSansBold', sans-serif;
  font-weight: bold;
  line-height: 95%;
  letter-spacing: 0.2rem;
}

.text {
  line-height: 120%;
}

.arrow-icon {
  transform: rotateX(180deg);
}