@font-face {
    font-family: 'FreeSansBold';
    src: url('src/assets/fonts/Free Sans Bold/FreeSansBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.hero-title {
    font-family: 'FreeSansBold', sans-serif;
    font-weight: bold;
    font-size: 11rem;
    letter-spacing: 0.2rem;
}

.hero-image {
    background: url("../../assets/images/hero-image.jpeg");
    background-size: cover;
    background-position: center top;
    height: 70vh;
}